<!DOCTYPE html>
<html>
    <head>
            <title>{% block title %}Plantopedia{% endblock %}</title>
            {% load static %}
            <meta charset='utf-8'>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel='stylesheet' href="{%static 'css/style.css' %}">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="{%static 'js/script.js' %}"></script>
            <style>
                @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
             </style>

             {% if result %}
             <script>
                 location.hash = "#info-pop-up";
             </script>
             {% endif %}
    </head>
    <body>
        <div class = "content">
            <div class = "header">
                <div class = "title">
                    <a href = "{% url 'applicationPredict:predict' %}" ><h2>Plantopedia &#127807</h2></a>
                </div>
                <div class = "info">
                    <p> Hi. I'm IKIA. I know about plants.</p>
                </div>
            </div>
        

            <div class = "analyze">
                <form id = "imageForm" method = "post" enctype = "multipart/form-data" action="{% url 'applicationPredict:predict' %}">
                    {% csrf_token %}
                    <div class = "form">
                        <input id='file-input'
                            class='no-display'
                            type='file'
                            name='image'
                            accept='image/*' 
                            onchange='showPicked(this)'>
            
                        <div class = "choose-file">
                            <a class = "btn choose-file-btn" onclick = 'showPicker()'> <p>Select Image</p></a>
                            <br>
                            <label id='upload-label'>No file chosen</label>
                        </div>
            
                        <div class="picked-image-analyze">
                            <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
                            <a class = "btn analyze-btn no-display" onclick = 'analyze()'> <p id = "analyze-button">Analyze</p></a>
                        </div>
                    </div>
                </form>
            
            
            <div class = "overlay" id = "info-pop-up">
                <div class = "popup">
                    <div class = "popup-head">
                        <p> {{ result }} </p>
                        <a class = "close" href = "#askUser" onclick="askUser()">&times;</a>
                    </div>

                    <div class = "content">
                        {{ info }}
                    </div>
                </div>
            </div>

            <div class = "displayinfo" id = "#askUser">
                <div class = "display-info-content">
                    <div class= "label">
                        <label id='buttons'>
                            Was I right??
                        </label>
                        <br>
                        <div class = "yes-no-btns">
                            <a class='yes-no-button btn' id = "yes" onclick="final(this)">Yes</a>
                            <a class='yes-no-button btn' id = "no" onclick="final(this)">No</a>
                        </div>

                    </div>
                    <div id = "finalBlockYes" class = "no-display">
                        <a class = "reload-index" href = "{% url 'applicationPredict:predict' %}">Visit Again.</a>
                    </div>
                    <div id = "finalBlockNo" class = "no-display"> Hehe. I'm learning.
                        <br>
                        <a  class = "reload-index" href = "{% url 'applicationPredict:predict' %}">Give me a new plant.</a>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>