<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <title>{% block title %}Plantopedia{% endblock %}</title>
        {% load static %}
        <link rel='stylesheet' href="{%static 'css/style.css' %}">
        <script src="{%static 'js/script.js' %}"></script>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
         </style>
    </head>
    <body>
        <div>
            <div class='center'>
                <div class='title'>Plantopedia&#127807;</div>
                <div class='content'>
                    <div class='no-display'>
                        <input id='file-input'
                            class='no-display'
                            type='file'
                            name='file'
                            accept='image/*'
                            onchange='showPicked(this)'>
                    </div>
                    <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
                    <div class='upload-label'>
                        <label id='upload-label'>No file chosen</label>
                    </div>
                    <div>
                        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
                    </div>
                    <div class='analyze'>
                        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
                    </div>
                    <div class='result-label'>
                        <label id='result-label'></label>
                    </div>
                    <div class='result-accuracy'>
                        <label id='result-accuracy'></label>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
